<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>陆生留言讨论</title>
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="./css/discussstyle.css" rel="stylesheet">
	</head>

	<body>
		<div class="container">
			<form action="add_coment_submit.php" method="post">
				<div>
					<label for="userid">编号：</label>
					<input type="text" name="userid" id="userid" />
				</div>
				<div>
					<label for="username">昵称：</label>
					<input type="text" name="username" id="username" />
				</div>
				<div class="form-group">
					<textarea class="form-control status-box" rows="2" placeholder="What's on your mind?" name="content" id="content"></textarea>
				</div>
				<div class="button-group pull-right">
					<p class="counter">140</p>
					<input type="submit" value="Post" class="btn btn-primary" />
				</div>
			</form>
		</div>
		<div class="test">
			<center>
				<h1>大家的留言</h1>
			</center>
			<?php
            if (!empty($d['coments'])) {
                echo '<ul class="posts">';
                foreach ($d['coments'] as $k=>$v) {
                    $ID = $v['ComentID'];
                    echo '<li class="posts"><a href="./get_coment.php?ID=' . $ID . '">' . $v['ComentID'] . '</a>';
                    echo '<p class="italic">' . mb_substr($v['UserName'], 0, 100, 'UTF-8') . '留言：</p>';
                    echo '<p>' . mb_substr($v['Content'], 0, 100, 'UTF-8') . '</p>';
                    echo '<p>' . mb_substr($v['Time'], 0, 100, 'UTF-8') . '</p></li>';
                }
                echo '</ul>';
            }
        ?>
		</div>

		<script src="../js/jquery-3.1.0.js"></script>
		<script src="./js/discussapp.js"></script>

	</body>

</html>